<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/style.css"">
  </head>
  <body>
    <h1>
      <!-- ID is EJS style t -->
      <h1> Person: <%= ID %> </h1>
      <h2>Querystring Value: <%= Qstr %></h2>
    </h1>
  </body>
</html>